<h2>Delete shelf?</h2>

<%= link_to("Back to Shop", shop_path(:id => @shop.id), :class => 'btn btn-primary btn-sm') %>

<br><br>
<div class="card">
  <div class="card-body">
    <%= form_for(@shelf, :url => shelf_path(:shop_id => @shop.id), :method => 'delete') do |f| %>

    <p>Permanently delete shelf? (ID: <%= f.object.id %>)</p>
    <small class="text-secondary">Candies will be moved to unshelved inventory.</small>
    <br><br>
    <%= f.submit("Delete Shelf", :class => 'btn btn-danger') %>
    <% end %>
  </div>
</div>
