<h2>Delete shop?</h2>

<%= link_to("<< Back to Shops List", shops_path, :class => 'btn btn-primary btn-sm') %>

<br><br>

<%= form_for(@shop, :method => 'delete') do |f| %>

<p>Permanently delete this shop? : <%= f.object.name %></p>
<p>This will also delete all associated shelves/candies</p>

<%= f.submit("Delete Shop", :class => 'btn btn-danger') %>
<% end %>
