<h2>Delete shop?</h2>

<%= link_to("Back to Shops List", shops_path, :class => 'btn btn-primary btn-sm') %>

<br><br>

<div class="card">
  <div class="card-body">
    <%= form_for(@shop, :method => 'delete') do |f| %>
      <p>Permanently delete <%= f.object.name %> shop?</p>
      <small class="text-secondary">This will also delete all associated shelves and candies</small>
      <br><br>
      <%= f.submit("Delete Shop", :class => 'btn btn-danger') %>
    <% end %>
  </div>
</div>
