<h2>Delete candy?</h2>

<%= link_to("Back to Shop", shop_path(:id => @shop.id), :class => 'btn btn-primary btn-sm') %>

<br><br>

<div class="card">
  <div class="card-body">
    <%= form_for(@candy, :url => candy_path(:shop_id => @shop.id), :method => 'delete') do |f| %>

    <p>Permanently delete this candy? : <%= f.object.name %></p>

    <%= f.submit("Delete Candy", :class => 'btn btn-danger') %>
    <% end %>
  </div>
</div>
