<h2>Move candy</h2>

<%= link_to("Back to Shop", shop_path(:id => @shop.id), :class => 'btn btn-primary btn-sm') %>

<br><br>

<%= form_for(@candy, :url => candy_path(:shop_id => @shop.id)) do |f| %>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      Shelf ID<%= f.text_field(:shelf_id, :class => 'form-control') %>
      <small class="text-secondary">Leave blank to unshelf candy</small>
    </div>
    <%= f.submit("Move Candy", :class => 'btn btn-primary') %>
  </div>
</div>
<% end %>
