<div class="container-fluid px-0">

  <!-- Navbar -->
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline justify-content-end">
      <%= link_to("Customer Login", new_user_session_path, :class => 'btn btn-outline-primary mx-2') %>
      <%= link_to("Vendor Login", new_user_session_path, :class => 'btn btn-outline-primary mx-2') %>
    </form>
  </nav>

Details about how it works?

For vendors:


For Customers:
</div>
