<div class="container-fluid px-0 bg-dark">

  <!-- Navbar -->
  <%= render partial: "navbar" %>

  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container my-3">
      <h1 class="display-4">For Vendors</h1>
      <hr>

      <!-- Card inside jumbotron -->
      <div class="d-flex justify-content-start">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            For Vendors
          </div>
          <div class="card-body">
            <p class="card-text">Manage your physical shop locations while making your inventory available online.
              Having an online presence is crucial to boosting sales and icnreasing visiibility.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container my-3">
      <h1 class="display-4  d-flex justify-content-end">For Customers</h1>
      <hr>

      <!-- Card inside jumbotron -->
      <div class="d-flex justify-content-end">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <p class="card-text">Your one-stop-shop for bulk candy purchases.
              See all candies from several shops at competitive prices.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
