<div class="container-fluid px-0">

  <!-- Navbar -->
  <%= render partial: "navbar" %>

  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container my-5">
      <h1 class="display-4">Candy Marketplace</h1>
      <p class="lead">
        Purchase or sell candy.
      </p>
      <hr class="my-4">
      <%= link_to("See how it works", public_about_path, :class => 'btn btn-primary btn-lg') %>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    
  </div>


</div>
